<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>在云端</title>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<script>
</script>
<!--你好 尊敬的：-->
<h1 th:if="${user}" th:text="'您好，尊敬的' + ${user.username}"></h1>

<h1 th:if="${authorities}" th:each="authority : ${authorities}" th:text="${authority}"></h1>
<h2></h2>
<form action="/" method="post" onsubmit="return false">
    username:<input name="username" type="text" value=""/><br>
    password:<input name="password" type="password" value=""/><br>
    <button id="login">login</button><button onclick="window.location.href='/register'">register</button>
</form>
<button id="btn">查看localstorage</button>
<button onclick="window.location.href = '/list'">list</button>
<button onclick="window.location.href = '/detail'">detail</button>
</body>
<script src="/js/index.js"></script>
</html>