<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UserDetail</title>
</head>
<body>
<h1>userDetail</h1>
<table>
    <tr>
        <td>user_id</td>
        <td>email</td>
        <td>enable</td>
        <td>first_name</td>
        <td>last_name</td>
        <td>password</td>
        <td>username</td>
        <td>create_time</td>
        <td>last_modify_tm</td>
    </tr>
    <tr>
        <td th:text="${user.userId}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.enable}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.password}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.createTime}"></td>
        <td th:text="${user.lastModifyTm}"></td>
    </tr>
</table>
</body>
</html>