<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
</head>
<body>
    <h1>user list</h1>
    <table>
        <thead>
        <tr>
            <td>用户名</td>
            <td>邮箱</td>
            <td>firstName</td>
            <td>createTime</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${list}" >
            <td><a th:text = "${user.username}" th:href="@{'/detail?id=' + ${user.userId}}"></a></td>
            <td th:text = "${user.email}"/>
            <td th:text = "${user.firstName}"/>
            <td th:text = "${user.lastName}"/>
        </tr>
        </tbody>
    </table>
</body>
</html>